apiVersion: v1
kind: Service
metadata:
  name: flappy-royale-server
  labels:
    app: flappy-royale-server
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: flappy-royale-server
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
